.commits-list-wrapper {
   position: relative;
   padding: 1rem;
}

.commit {
    padding: 1rem;
}

/*
.commit-message-truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/