.commits-list-wrapper {
   position: relative;
}

/* line-climp is in Editor's draft but looks to have a good support, see https://caniuse.com/?search=line-clamp */
.commits-message-truncated {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}